@media(min-width: 600px) {
    .wordle-title {
        font-size: 6rem;
    }

    .tile {
        width: 80px;
        height: 80px;
    }
}

.londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Patrick-Hand {
    font-family: "Patrick Hand", cursive;
}

body {
    background-color: #D0F0FD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Quicksand", sans-serif;
    color: #82CFFD;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    gap: 8px;
    ;
}

.wordle-instructions {
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;

}

.wordle-instructions .w {
    color: red
}

.wordle-instructions .o {
    color: orange
}

.wordle-instructions .r {
    color: yellow
}

.wordle-instructions .d {
    color: green
}

.wordle-instructions .l {
    color: blue
}

.wordle-instructions .e {
    color: purple
}

.wordle-title {
    font-family: 'Londrina Shadow', cursive;
    font-size: 5rem;
    text-align: center;
    margin: 20px 0;
}

.wordle-title .letter {
    display: inline-block;
    margin: 0 5px;
}

.wordle-title .w {
    color: red
}

.wordle-title .o {
    color: orange
}

.wordle-title .r {
    color: yellow
}

.wordle-title .d {
    color: green
}

.wordle-title .l {
    color: blue
}

.wordle-title .e {
    color: purple
}

#results-display {}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #4A148C;
    margin-top: 5px;
    background-color: #D0F0FD;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(5, 60px);
    justify-content: center;
    gap: 15px;


}

.tile {
    background-color: #fff9c4;
    border: 2px solid #fbc02d;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin: 4px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#game-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    margin: 30px auto 0 auto;
    border-radius: 12px;
}

.keyboard-row,
.keyboard-row-two,
.keyboard-row-three {
    color: #4A148C;
    display: flex;
    gap: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
}

button {
    font-family: "Patrick Hand", cursive;
    background-color: #82CFFD;
    border: 2px solid #4A90E2;
    border-radius: 10px;
    min-width: 45px;
    min-height: 50px;
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.25s ease;
}

button:hover {
    background-color: #9575cd;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 1rem;
}